
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="elements.html">

<dom-module id="about-elem">

  <template>

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      h1 {
        font-size: 22px;
        margin: 16px 0;
        color: #212121;
      }
    </style>

              <!-- <paper-material elevation="1"> -->
                <h1 class="page-title" tabindex="-1">Who We Are</h1>

                <p>
                  The Resistance fights to protect humanity from those that are attempting to use Exotic Matter (XM) to enslave humanity.
                  Resistance agents defend the Earth from the Shaper ingression.
                  Resistance agents are seen by some as being fearful of change or progress, but the Resistance is firm in its belief that it is protecting humanity.
                </p>
                <p>
                Kansas City Resistance (KCRes) agents are a connected, organized, and close community of Ingress players, working together to advance Resistance control in the area. Kansas City plays host to several events throughout the year, and many KCRes agents can be found among the players at these events.
              </p>
                <p>
                KCRes agents strive to keep newer agents geared and mentor them to be effective agents in the field. Agents also are organized into different areas of the city in order to maintain vigil over Enlightened activities. The most important aspect to remember is that Ingress is a game, and, as such, have fun!
              </p>
                <p>
                Agents of all play levels, from casual players to hardcore gamers, are welcome in KCRes. Stay strong, stay safe, and stay blue!
              </p>
                <h2 class="page-title" tabindex="-1">Why Join the Community?</h2>
                <p>
		You may be wondering why our agents sent you this link. It’s just a game, right? (Or is it?) Maybe it seems overbearing, too much commitment.  Maybe you’re nervous to meet up with strangers; or maybe you would just prefer to go it alone.  If the ‘Who We Are’ section wasn’t enough, here are a few more reasons to join.
	<li>Many, hundreds, of experienced agents all over the metro are more than willing to answer questions, give you tips, even gear. </li> 
	<li>High level gear takes multiple people. At least 3 agents to make a L7 portal, and 8 to make an L8. Join up so you can know when and where to “farm” gear. </li>
	<li>Bigger fields, or clearing large areas, requires coordination between multiple agents.</li>
	<li>Finally, probably the biggest reason to join, is simply to be a part of something bigger. Many of us would have gotten bored with the game long ago, if it weren’t for the community. We have people of all backgrounds, types. You’ll make some great friends, and that makes it much more than a game! </li>

              </p>
                <p>
              </p>
              <a href="https://play.google.com/store/apps/details?id=com.nianticproject.ingress&amp;hl=en" target="_blank">
              <img src="/images/play-logo.jpg" alt="Picture" style="width:auto;max-width:100%" data-pin-nopin="true">
              </a>
                            <a href="https://itunes.apple.com/us/app/ingress/id576505181?mt=8" target="_blank">
              <img src="/images/appstore_logo.jpg" alt="Picture" style="width:auto;max-width:100%" data-pin-nopin="true">
            <!-- </paper-material> -->
  </template>

  <script>

    Polymer({

      is: 'about-elem'

    });

  </script>

</dom-module>
