<html><head><link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="elements.html">

</head><body><dom-module id="app-main">
  <template>
    <style>:host{display:block;--app-primary-color:blue;--app-secondary-color:black;}app-header{--app-header-background-front-layer:{background-image:url("../images/sample-kcr-wide.png");background-repeat:no-repeat;background-position:center;background-size:contain;background-color:black;};color:#fff;height:20%;}app-header paper-icon-button{--paper-icon-button-ink-color:white;}.drawer-list{margin:0 20px;}.drawer-list a{display:block;padding:0 16px;line-height:40px;text-decoration:none;color:var(--app-secondary-color);}.drawer-list a.iron-selected{color:black;font-weight:bold;}.drawer-list a.subroute{padding-left:32px;}</style>
    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>

    <app-drawer-layout fullbleed="">

      
      <app-drawer>
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="home-page" href="/">Home</a>
          <a name="join-here" href="/join-page">Join Us!</a>
          <a name="more-links" href="/links-page">Links &amp; Apps</a>
        </iron-selector>
      </app-drawer>

      
      <app-header-layout has-scrolling-region="">

        <app-header condenses="" reveals="" effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle=""></paper-icon-button>
            
          </app-toolbar>
        </app-header>

        <iron-pages role="main" selected="[[page]]" attr-for-selected="name">
          <home-page name="home-page"></home-page>
          <join-page name="join-page"></join-page>
          <links-page name="links-page"></links-page>
        </iron-pages>

      </app-header-layout>

    </app-drawer-layout>
  </template>

  <script>Polymer({is:"app-main",properties:{page:{type:String,reflectToAttribute:!0,observer:"_pageChanged"}},observers:["_routePageChanged(routeData.page)"],_routePageChanged:function(e){this.page=e||"home-page"},_pageChanged:function(e){this.importHref(this.resolveUrl(e+".html"),null,null,!0)}});</script>
</dom-module>
</body></html>